@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 1000px;
}
span {
    color: #ffa500;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}
header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);

}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a {
    color: #000;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url('./images/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2 {
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}
.banner-text {
    position: absolute;
    padding-top: 200px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}
.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}
.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}
h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #ffa500;
    font-size: 18px;
}
.palvelut {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}
.palvelut .box {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(102, 74, 74, 0.9);
}
.palvelut .box .iconBox {
    margin-top: 25px;
}
.palvelut .box .iconBox img {
    max-width: 70px;
    margin-bottom: 15px;
}
.palvelut .box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.stats {
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}
.stats h3, 
.stats p {
    color: #fff;
}
.statsBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}
.statsBox h2 {
    color: #fff;
    font-size: 36px;
}
.statsBox h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.teamBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}
.teamBox .opas {
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamBox .opas .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.teamBox .opas .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teamBox .opas .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}
.teamBox .opas:hover .details {
    opacity: 1;
}
.teamBox .opas .details h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.teamBox .opas .details h2 span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}
.yhteys {
    background: #000;
}
.yhteys h3,
.yhteys p {
    color: #fff;
}
.lomake {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.lomake form {
    width: 100%;
}
.lomake .rivi100 {
    display: flex;
    width: 100%;
}
.lomake .rivi100 .inputBox50 {
    width: 50%;
    margin: 0 20px;
}
.lomake .rivi100 .inputBox100 {
    width: 100%;
    margin: 0 20px;

}
.lomake .rivi100 input,
.lomake .rivi100 textarea {
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}
.lomake .rivi100 textarea {
    height: 100px;
}
.lomake .rivi100 input::placeholder,
.lomake .rivi100 textarea::placeholder {
    color: rgba(255,255,255,0.5);
}
.lomake .rivi100 input[type="submit"] {
    background: #fff;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 600;
}
.lomake .rivi100 input[type="submit"]:hover {
    color: #ffa500;
}
.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.sci ul {
    display: flex;
}
.sci ul li {
    list-style: none;
}
.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}
.sci ul li a img {
    filter: invert(1);
    max-width: 70px;
}
.sci ul li a:hover img {
    opacity: 0.5;
}
.copyright a {
    color: #fff;
    text-decoration: none;
}
.toggle {
    display: none;
}
@media (max-width: 1000px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }
    header,
    header.sticky {
        padding: 5px 50px;
        background: #fff;
    }
    header ul {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    header.active ul li a {
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }
    header .logo, 
    header ul li a {
        color: #000;
    }
    .banner {
        background-position: center;
    }
    .banner h2 {
        font-size: 60px;
        padding: 0 50px;
    }
    .sec {
        padding: 100px 50px 50px 50px;
    }
    .palvelut .box {
        width: 100%;
    }
    .stats {
        padding-top: 250px;
    }
    .rivi100 {
        flex-direction: column;
    }
    .lomake .rivi100 .inputBox50,
    .lomake .rivi100 .inputBox100 {
        width: 100%;
        margin: 0;
    }
    .sci {
        margin: 20px;
    }
    .sci ul li a img {
        font-size: 24px;
    }
    h3 {
        font-size: 36px;
    }
}